@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #fded15ed;
    --secondary-color: #f8cf46;
}

::-moz-selection {
    color: #fff;
    background: var(--primary-color)
}

::selection {
    color: #fff;
    background: var(--primary-color)
}

::-moz-selection {
    color: var;
    background: var(--primary-color)
}

  body{
    background: #f7f7f7;
    padding-top: 120px;
    font-family: 'Muli', sans-serif;
    font-size: .875em;
  }


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.64;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer
}

a:hover {
    text-decoration: line-through;
    color: var(--primary-color);
}

a.link {
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

a.link::before {
    content: '';
    width: 100%;
    height: 2px;
    background: #d9d9d9;
    position: absolute;
    bottom: -4px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

a.link:hover {
    color: #000
}

a.link:hover::before {
    background: #fded15ed
}

.space-md {
    padding-top: 90px;
    padding-bottom: 90px
}

#preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#preloader.hide {
    visibility: hidden;
    opacity: 0
}

#loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    -webkit-animation: loader 1s infinite linear;
    animation: loader 1s infinite linear
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: scale(1);
        border: 5px solid #222
    }
    50% {
        -webkit-transform: scale(0);
        border: 30px solid #222
    }
    100% {
        -webkit-transform: scale(1);
        border: 10px solid #222
    }
}

@keyframes loader {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        border: 5px solid #222
    }
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
        border: 30px solid #222
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        border: 10px solid #222
    }
}


/*/////////////////////
  Container tweak
///////////////////////*/

.container {
    max-width: 1440px
}


/*/////////////////////
Navigation
///////////////////////*/

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: .04rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 900;
    text-transform: capitalize;
}
.navbar-brand span {
    background: var(--primary-color);
    border-radius: 5px;
}

/*/////////////////////
Header intro 
///////////////////////*/

.headline {
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
}

.headline-content {
    display: block;
    position: relative;
}

.headline-content .headline-title {
    font-weight: 900
}
.headline-content .headline-title span {
    background: var(--primary-color);
    border-radius: 5px;
}
.headline-subtitle {
    font-size: 24px
}

#About {
    margin: 7rem  0px 3rem 0px;
}

/* Skills  */

  #skills_banner {
    margin-top: 5rem;
  }
.socialList__List li,
.skills__Section .skills__List li {
    list-style: none;
}
.skills__Section .skills__List li span {
     padding-left: 10px;
}
.socialList__List {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px 10px;
}
.skills__Section .skills__List {
    margin: 0px;
    padding-top: 2rem;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 50px 20px;
    justify-items: center;
    margin-bottom: 5rem;
  }

/* Portfolio */

#portfolio-filters {
    margin-bottom: 50px
}


/* Portfolio items */

.entry {
    overflow: hidden
}

.entry-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.entry:hover .entry-image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.work-entry-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(50, 109, 221, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.entry:hover .work-entry-hover {
    opacity: 1;
    visibility: visible
}

.work-entry-content {
    position: absolute;
    bottom: 50px;
    left: 50px
}

.work-entry-title {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    position: relative;
    top: 15px;
    -webkit-transition: all .5s cubic-bezier(0.4, .2, 0, 1) .2s;
    transition: all .5s cubic-bezier(0.4, .2, 0, 1) .2s
}

.work-entry-cat {
    font-size: 14px;
    opacity: 0;
    position: relative;
    top: 15px;
    -webkit-transition: all .5s cubic-bezier(0.4, .2, 0, 1) .3s;
    transition: all .5s cubic-bezier(0.4, .2, 0, 1) .3s;
    color: #fff;
}

.entry:hover .work-entry-title,
.entry:hover .work-entry-cat {
    opacity: 1;
    top: 0
}

.project-intro li {
    font-size: 18px;
    color: #000000;
    padding: 12px 0 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 200px
}

.project-intro li.title {
    font-weight: 700;
    padding: 0px 0 22px;
}


/* Footer */

.footer {
    text-align: center;
    margin-top: 115px;
    background-color: #dfd111ed;
}

.footer .copy,
.footer .footer-title {
    margin: 50px;
}

.copy {
    font-weight: 600;
    color: #000;
}


 .containerbar {
  max-width: 140rem;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}


.mainbar .containerbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .card-images {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 70%;
    }
   .card-images img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
      .card {
          transition: all ease-in-out .4s;
          cursor: pointer;
          padding-bottom: 10px;
          background: var(--primary-color);
            color: rgb(0, 0, 0);
            font-weight: 700;
      }
      .card .text {
          font-size: 12px;
          font-weight: 600;
          padding: 20px ;
          text-transform: uppercase;
      }
      .card:hover {
        background-color: #dfd111ed;
        color: rgb(0, 0, 0);
        font-weight: 700;
        margin-bottom: 10px;
        transform: scaleY(1.1);
      }
@media only screen and (max-width: 600px) {
  .mainbar .containerbar {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .display-3 {
        font-size: 1.5rem;
    }
    .headline {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .display-3 {
        font-size: 2rem;
    }
    .headline {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .display-3 {
        font-size: 2.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .display-3 {
        font-size: 3rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .display-3 {
        font-size: 4.5rem;
    }
}

/* CONTAINERS */
main{
    margin: auto;
    max-width: 380px;
  }
  section{
    background: #fff;
    border-radius: .25em;
    box-shadow: 0 .15em .175em hsla(0,0%,0%,.1);
    margin: 1.5em;
    overflow: hidden;
  }
  figure{
    height: 12.5em;
  }
  article{
    padding: 2em;
  }
  
  /* IMAGE */
  img{
    height: 100%;
    object-fit: fill;
    width: 100%;
  }
  
  /* TYPOGRAPHY */
  h1{
    font-size: 2em;
    letter-spacing: -.05em;
    line-height: 1;
    margin: .25em 0;
  }
  article p{
    line-height: 1.4;
    padding-top: 10px;
  }
  span{
    font-size: .75em;
    text-transform: uppercase;
    word-spacing: .0625em;
  }
  
  @supports (display: grid){
    @media only screen and (min-width: 768px){
      main{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 1.5em;
        max-width: 1140px;
        padding: 1.5em;
      }
  
      section{
        margin: 0;
      }
    }
  }